{
  "presets": [
    ["env", {
    	"modules": false,
    	"targets": {
    		"browsers": [
    			"last 2 versions"
    		],
    		"node": "current"
    	}
    }],
    "stage-2"
  ],
  "plugins": [
		"transform-runtime",
		["babel-plugin-transform-builtin-extend", {
			"globals": ["Error"],
			"approximate": true
		}]
	]
}